.mainDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}
.mainDiv img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.mainDiv h1{
    font-size: 38px;
    color: blue;
}

.mainDiv p{
    color: #4a4aae;
    width: 925px;
    font-size: 20px;
    font-weight: 600;
}